*{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
body{
    background-color: #548981;
}
#header{
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 30%;
    background-image: url("../images/woodwall.jpg");

}
#logo{
    background-image: url("../images/logo.jpg");
    height: 110px;
    width: 110px;
    margin-top: 15%;
    margin-left: 100%;
    border-radius: 25px;
}
@font-face {
    font-family: "HolidaysHomework";
    src: url("../fonts/HolidaysHomework.ttf");
}
#headtitle{
    font-family: "HolidaysHomework";
    color: white;
    font-size: 60px;
    margin-top: 10px;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #A78267;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 157px;
    width: 100%;
    overflow: hidden;
}
.social{
    display: flex;
    flex-direction: row;
    gap: 91px;
    justify-content: space-evenly;
    margin-top: 40px;
    margin-right: 48px;
}
#fb{
    height: 75px;
    width: 75px;
}
#insta{
    height: 75px;
    width: 75px;
}
#trip{
    height: 75px;
    width: 75px;
}
.cluf{
    margin-top: 4%;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-left: 30px;
}




