*{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}
body{
    background-image:url("../images/board.jpg");
}

/*Bannière d'entêye*/
#header{
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 30%;
    background-image: url("../images/woodwall.jpg");
    
    

}

/*Logo*/
#logo{
    background-image: url("../images/logo.jpg");
    height: 110px;
    width: 110px;
    margin-top: 15%;
    margin-left: 100%;
    border-radius: 25px;
}

/*Police d'entête*/
@font-face {
    font-family: "HolidaysHomework";
    src: url("../fonts/HolidaysHomework.ttf");
}

/*Nom du commerce*/
#headtitle{
    font-family: "HolidaysHomework";
    color: white;
    font-size: 60px;
    margin-top: 10px;
}
/*Proposition boulangerie*/
#container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    margin-bottom: 100px;
}
.card {
    height: 210px;
    width: 250px;
    margin-top: 5%;
    background-color: ivory;
    border-radius: 10px 10px;
}

.card h3 {
    font-family: "HolidaysHomework";
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
}

.card img {
    height: 150px;
    width: auto;
    border-radius: 10px 10px 10px 10px;
    margin: 12px;
}
#coordinate{
    display: flex;
    flex-direction: row;
    justify-content: center;

}
#adress{
    font-size: 20px ;
    text-align: center;
    margin-top: 4%;
    margin-left: 2%;
    color: ivory;

}
#map{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-image: url("../images/map.png");
    background-size: cover;
    margin-bottom: 1%;
    margin-right: 1%;
}
/*Bas de page*/
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #A78267;
    height: 95px;
    width: 100%;
    overflow: hidden;
    
}

/*réseaux sociaux*/
.social{
    display: flex;
    flex-direction: row;
    gap: 91px;
    margin-top: 1.5%;
    margin-right: 48px;
    border: 2px black;
}
#fb{
    height: 50px;
    width: 50px;
}
#insta{
    height: 50px;
    width: 50px;
}
#trip{
    height: 50px;
    width: 50px;
}


/*Mentions légales*/
.cluf{
    margin-top: 2%;
    height: 70%;
    width: 50%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-left: 30px;
    
}
@media screen and (max-width:680px){
    .social{
        justify-content: space-around;
    }
    
    
    
}

@media screen and (max-width:992px){
    #footer{
        flex-direction: column; /*Ici j'ai écrit que en dessous d'une largeur d'ecran de 992px, le bloc sera aligné horizontalement et non pas verticalement*/
        text-align: center;
        align-items: center;
        
    }
    #coordinate{
        flex-direction: column;
        margin-bottom: 15%;

    }
    #map{
        margin-left: 25%;
    }




